.navbar {
    background-color: #220740;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.link{
    display: flex;
    list-style-type: none;
    gap: 1rem;
}

.submenu{
    padding: 0;
    list-style-type: none;
     margin-top: 1rem; 
    background-color: rgb(185, 61, 61);
    color: #220740;
    display: none;
    position: absolute;
    padding: 0px 2rem;
    border-radius: 10px;
}

.anil:hover .submenu {
    display: block;
}

.submenu li:hover {
    background-color: #220740;
    color: rgb(101, 26, 223);
}

.menulinks ul{
    margin: 200px;
}

.logo image{
    height: 10px;
    width: 10px;
}