.navbar {
    background-color: #ddcdf0;
    color: rgb(7, 7, 7);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 20px;
}
.link{
    display: flex;
    list-style-type: none;
    gap: 1rem;
}

.submenu{
    padding: 0;
    list-style-type: none;
    margin-left: -2rem; 
    background-color: rgb(73, 39, 134);
    color: #f9f6fc;
    display: none;
    position: absolute;
    padding: 0px 2rem;
    border-radius: 10px;
}

.anil:hover .submenu {
    display: block;
}

.submenu li:hover {
    background-color: #220740;
    color: rgb(101, 26, 223);
}
