.container-fluid{
    display: flex;
}

.container{
    margin: 0px;
}
.flex{
    display: flex;
}

.container ul{
    list-style: none;
    gap: 0px 33%;
}

.logo ul{
    list-style: none;
    gap: 0px 33%;
}

.navbar{
    margin-top: 10px;
    justify-content: space-between;
}