.container-fluid {
    max-width: 100%;
}

.container {
    max-width: 1000px;
    margin: 0px auto;
}

a {
    text-decoration: none;
}

.flex {
    display: flex;
}

.btn-info {
    color: white;
    border: none;
    font-weight: 600;
    padding: 5px 20px;
    border-radius: 20px;
    background-color: var(--button);
}

/* kalpesh css  */

.navbar {
    justify-content: space-between;
    margin-top: 10px;
}

.nav-product {
    margin: 0px;
}

.nav-product ul {
    gap: 0px 10px;
    list-style-type: none;
}

.product-link {
    background-color: #d0d0d0;
    padding: 5px;
    border-radius: 10px;
}

.nav-product ul li {
    color: black;
}

.nav-icon ul {
    gap: 0px 10px;
    list-style-type: none;
}

.icon-link {
    background-color: #d0d0d0;
    padding: 5px;
    border-radius: 100%;
}

.nav-icon ul li {
    color: black;
}