.nav
{
    list-style: none;
}
.navbar
{
    display: flex;
    padding: 10px;
    margin: 5px;
    justify-content: space-between;
}

.nav-link{
    display: inline-block;
    margin: 0px 20px;
}
*
{
    color: grey;
    margin: 0px;
    padding: 0px;
    max-width: 1200px;    
}
#kk
{
    color: white;
    background-color: blueviolet;
    border: 20px;
    padding: 3px  7px;
    border-radius: 5px;
}

