*{
    margin: 0px;
    padding: 0px;   
}

body{
    color: grey;
}

.container{
    max-width: 1200px; 
    
}
.nav
{
    list-style: none;
}
.navbar
{
    display: flex;
    padding: 10px;
    margin: auto;
    justify-content: space-between;
}
*
#kk
{
    color: white;
    background-color: rgb(132, 6, 250);
    border: 20px;
}

