body
{
    background-color: blue;
}
div{
    background-color:black;
    color: white;
    border: 5px solid white;
}
.nav-link
{
    list-style: none;
    
}
.navbar
{
    display: inline-block;
    margin-right: 190px;
}
#a1
{
    color: orange;
}
#a2
{
    background-color: orange;
}
#a3
{
    margin-right: 0px;
}
.tt
{
    color: white;
}
