* {
    margin: 0px;
    padding: 0px;
}

.container {
    display: flex;
    justify-content: space-between;
    background-color: rgb(57, 113, 126);
    align-items: center;
}

.main-list {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
}

.nav-link {
    color: rgb(180, 137, 38);
    margin: 10px;
}

.nav-link a {
    color: rgb(180, 137, 38);
    text-decoration: none;
}

.nav-link a:hover {
    border-bottom: 2px solid rgb(52, 218, 52);
}

.submenu {
    list-style-type: none;
    margin: -2px;
    background-color: rgb(57, 113, 126);
    position: absolute;
    margin:2px 0px 0px -50px;
    padding: 1rem;
    display: none;
}

.submenu-link {
    padding: 10px;
}

.submenu-link :hover {
    background-color: rgb(52, 218, 52);
}

.dks:hover .submenu{
    display: block;
}