* {
    margin: 0px;
    padding: 0px;
}

.container {
    display: flex;
    justify-content: space-between;
    background-color: #0f4abf;
    align-items: center;
}

.main-list {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
}

.nav-link {
    color: #ffffff;
    margin: 10px;
}

.nav-link a {
    color: #ffffff;
    text-decoration: none;
}

.nav-link a:hover {
    border-bottom: 2px solid #38e116;
}

.nav-link a:focus {
    border-bottom: 2px solid #38e116;
}

.submenu {
    list-style-type: none;
    margin: -2px;
    background-color:#0f4abf;
    position: absolute;
    mar gin: 2px 0px 0px -50px;
    padding: 1rem;
    display: none;
}

.submenu-link {
    padding: 10px;
}

.submenu-link :hover {}

.dks:hover .submenu {
    display: block;
}