*
{
    margin: 0;
    padding: 0;


    /* demo */
}
.container
{
    display: flex;
    justify-content: space-between;
    max-width: 1600px;
    background-color: rgb(11, 11, 126);
    align-items:center;
}
.main-list
{
    display: flex;
    list-style-type: none;
    justify-content: space-between;
}
.nav-link
{  
    outline: none;
    margin-right: 20px;
    text-decoration: none;
    color: #ffffff;
}
.submenu
{
    list-style-type: none;
    background-color: rgb(11, 11, 126);
    display: none;
    margin: 2px 0px 0px -25px;
    padding: 10px 0px 0px 5px;
}
.submenu-link
{
    color: #ffffff;
    text-decoration: none;
    padding: 10px;
}
.nav-link:hover
{
    border-bottom: 2px solid #20a947;
}
.nav-link:focus 
{
    border-bottom: 2px solid #20a947;
}
.dks:hover 
{
    display: block;
}