*
{
    margin: 0px;
    padding: 0px;
}
.navbar
{
    background-color: rgb(195, 79, 187);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu ul
{
    display: flex;
    list-style-type: none ;
}
.menu ul li a
{
    text-decoration: none;
    margin: 5px;
    margin-left: 20px;
    color:rgb(243, 243, 14);
}
.menu ul li a:hover
{
    background-color: rgb(36, 185, 170);
}
.menu ul li a:focus
 {
    background-color: rgb(36, 185, 170);
}
.submenu li
{
     position: absolute;
     display:none;
}
.dks:hover .submenu li
{
    display: block;

}