*
{
    margin: 0;
    padding: 0;
    /* background-color: rgb(62, 62, 227); */
}

hr
{
    margin-top: 0;
    height: 5px;
    background-color:  rgb(62, 62, 227);
}
.logo
{
    height: 100px;
    width: 100px;
} 
.img1
{
    height: 250px;
    width: 250px;
}
.main{
    display: flex;
}
.container-fluid {
    display: flex;
    justify-content: space-evenly;
    max-width: 100%;
}
button
{
    background-color: orange;
}
.main1
{
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    align-items: center;
}
.sub
{
    padding: 10px;
    text-align: center;
    color: white;
}
.container{
    max-width: 1200px;
}

/* footer css hee  */

.bg-dark{
    background-color: #222222;
}

.footercss{
    margin-top: 20px;
    padding-top: 20px;
    display: flex ;
    justify-content: space-evenly;
    color:white !important;
    /* gap:0px 100px; */
}
.footercss ul{
   list-style: none;
}

.footercss ul li{
    color:white !important;
}
.justify{
    justify-content: space-around !important;
}