* {
    padding: 0;
    margin: 0;
    font-family: "Poppins", sans-serif;
}

:root {
    --primary: #09073f;
    --black: #172025;
    --white: #eefbf2;

    /* taxt collagraphy */
    --normal: 1rem;
    --smnormal: 0.9rem;
}

/* utility classes  */
.container-fluid {
    max-width: 100%;
    padding: 0;
    margin: 0;
}

.container {
    max-width: 1200px;
    margin: auto;
    padding: 0px 16px;
}

.flex {
    display: flex;
}

.d-none {
    display: none;
}

a {
    text-decoration: none;
}

/* header css  */

.nav-header {
    background-color: var(--primary);
}

.navbaar {
    justify-content: space-between;
    align-items: center;
}

.menu-ul {
    list-style-type: none;
    font-size: 0.9rem;
    gap: 15px;
    color: var(--white);
}

.navlinks a {
    color: var(--white);
}

.navlinks a:hover {
    color: #22e42c;
    border-bottom: 2px solid #22e42c;

    /* transition-property:color ;
    transition-duration:3s ;
    transition-timing-function: ease-in-out;
    transition-delay: 0s;

    transition-property:border-bottom ;
    transition-duration:3s ;
    transition-timing-function: ease-in-out;
    transition-delay: 0s; */

    transition: all 2s ease-out;
}

.btn i {
    font-size: 1rem;
    background-color: var(--primary);
    color: var(--white);
    padding: 0.2rem;
}


/* media query css  */

@media (max-width:768px) {
    .navlinks {
        display: none;
    }

    .btn {
        display: block;
    }
}

/* dropdown css */

.drop-div {
    position: absolute;
    display: none;
}


.drop-ul {
    list-style-type: none;
    padding: 0px 30px;
    background-color: var(--primary);
    border-radius: 5px;
}

.drop-links a:hover {
    color: var(--primary);
    background-color: var(--white);
    padding: 0px 30px;
    display: block;
    border-radius: 5px;
}

.dropdown:hover .drop-div {
    display: block;
}

/* slider menu css  */

.slider-menu {
    position: absolute;
    background-color: var(--primary);
    top: 0;
    left: 0;
    height: 100vh;
    /* width: 60vw; */
    padding: 2rem 1rem;
    color: var(--white);
    display: none;
}

.div-slider {
    display: flex;
    justify-content: flex-end;
}

.slider-ul {
    list-style-type: none;
    font-size: var(--smnormal);
    text-align: center;
    padding: 0rem 4rem;
}

.slider-links,
.sliderdrop-links {
    color: var(--white);
    display: block;
    padding: 2px 10px;
    border-radius: 3px;
}

.slider-drop {
    list-style-type: none;
    position: absolute;
    margin: -25px 0px 0px 90px;
    padding: 0rem 1rem;
}

.sliderdrop-links:hover,
.slider-links:hover {
    color: var(--primary);
    background-color: var(--white);
}

.drop-slider:hover .slider-drop {
    display: block;

}

.navlinks:hover .slider-menu{
    display: block;
}