* {
    padding: 0;
    margin: 0;
    color: var(--black);
}

:root {
    --primary: #2f9052;
    --black: #172025;
    --white: #eefbf2;

    /* taxt collagraphy */

    --normal: 1rem;
    --smnormal: 0.8rem;
}

/* utility classes  */
.container-fluid {
    max-width: 100%;
}

.container {
    max-width: 1300px;
    margin: auto;
}

.flex{
    display: flex;
}

.d-none{
    display: none;
}